<div class="box">
  <form [formGroup]="form" (submit)="submitForm($event)">
    <div class="row">

      <div class="col-md-7 left-part">
        <div class="row">
          <div class="col-md-6 part">
            <div class="flex-wrapper">
              <select formControlName="projectId" class="form-control">
                <option [value]="null">Select project</option>
                <option *ngFor="let project of projects" [value]="project.id">
                  {{ project.name }}
                </option>
              </select>
              <button type="button" class="btn btn-default" (click)="addProductModal.show()">Add</button>
            </div>
          </div>
          <div class="col-md-6 part">
            <select formControlName="kind" class="form-control">
              <option [value]="null">Select component type</option>
              <option *ngFor="let kind of kindOptions" [value]="kind">
                {{ kind | titlecase }}
              </option>
            </select>
          </div>
          <div class="col-md-6">
            <textarea formControlName="hash" class="form-control" placeholder="Hash" (change)="validateHashIsHex($event.target.value)"></textarea>
            <!-- <button type="button" class="btn btn-default" (click)="hash2hex()">
              {{ hashToHexButtonText }}
            </button> -->
          </div>
          <div class="col-md-6">
            <textarea formControlName="description" class="form-control" placeholder="Description"></textarea>

          </div>
        </div>
      </div>
      <div class="col-md-5 right-part">
        <div class="flex-wrapper">
          <ng-select [items]="documents" bindLabel="label" bindValue="id" [multiple]="true"
            [closeOnSelect]="false" placeholder="Select linked components" formControlName="linkIds">
          </ng-select>
          <div class="error-box" *ngIf="displayErrors">

            <div class="error-message" *ngFor="let error of errors">
              <span class="z z-bolt"></span>{{ error }}
            </div>
          </div>
          <input type="submit" value="Register" class="btn btn-default">
        </div>
      </div>
    </div>
  </form>


  <dcs-modal #addProductModal title="Create a new project">
    <dcs-add-project [projects]="projects" (submitForm)="createProject($event); addProductModal.hide()"
      (cancel)="addProductModal.hide()" #addProject></dcs-add-project>
  </dcs-modal>

  <dcs-modal #registerModal title="Confirm new component">
    <dcs-confirm-document [document]="newDocument" [visible]="confirmVisible" (paymentSuccessful)="createComponent($event)"></dcs-confirm-document>

    <div class="footer">
      <button type="button" class="btn btn-default" (click)="registerModal.hide()">Cancel</button>
    </div>
  </dcs-modal>

</div>
