<div class="row">
  <div class="col-12">
    <form id="recovery-form" *ngIf="!requestSent" [formGroup]="form" (submit)="sendRequest($event)">
      <h3>Reset password</h3>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
      </div>
      <div class="buttons">
        <button type="button" routerLink="/login" class="btn btn-white">Cancel</button>
        <button class="btn btn-default">Reset password</button>
      </div>
    </form>

    <div id="request-sent" *ngIf="requestSent">
      <h3>Reset password</h3>
      <p>
        An E-Mail has been sent to <strong>{{ form.value.email }}</strong> with further
        instructions.
      </p>

      <p><a [routerLink]="['/login']">Go to login</a></p>
    </div>
  </div>
</div>
